<section class="section about-section" style="background-color: #e3eaea;">
  <div class="container">
    <div class="about-grid">
      <div class="about-content">
        <h2 class="about-title">WELCOME TO ICRAME 2026</h2>
        <p>
          The <i>Department of Mechanical Engineering, National Institute of Technology Silchar, India</i> is organizing the <b>7th International Conference on Recent Advancements in Materials and Emerging Applications (ICRAME 2026)</b>. The previous editions of the conference have been successfully organized by the <b>National Institute of Technology Silchar, India.</b>
        </p>
        <p style="margin-top: 15px;">
          <b><i>Conference Theme: Recent Advancements in Materials and Emerging Applications</i></b>
        </p>
        <p style="margin-top: 15px;">
          The conference aims to provide a platform for interdisciplinary collaborations and foster a vibrant community of researchers and practitioners in materials science and mechanical engineering. It will feature keynote speakers, technical sessions, and panel discussions, covering a broad range of topics. The event will provide an excellent opportunity for participants to learn from each other, network, and collaborate on new research projects. By organizing this event, the department aspires to contribute significantly to advancing these crucial fields.
        </p>
      </div>
      <div class="about-logo-wrapper">
        <div class="about-logo-card">
          <img src="../assets/icons/icrame.png" alt="ICRAME 2026 Logo">
          <p class="logo-note">INTERNATIONAL CONFERENCE ON
RECENT ADVANCES IN MATERIALS AND
EMERGING APPLICATIONS 2026</p>
        </div>
      </div>
    </div>
  </div>
</section>
