<section class="section" style="padding-top: 20px; padding-bottom: 40px;">
  <div class="container">
    <div class="venue-details">
      <h1 class="venue-title"> Venue :- </h1>
      <h3>National Institute of Technology Silchar</h3>
      <p class="venue-text">NIT Road, Fakiratilla, Silchar</p>
      <p class="venue-text">Assam - 788010, India</p>
      <a href="https://maps.app.goo.gl/Jz5cJLmuB8KDmghw7" target="_blank" rel="noopener noreferrer" class="venue-map-link">
       View on Google Maps
      </a>
      
    </div>
  </div>
</section>
